# 01_02: Lists, tuples, and the slicing syntax

In [5]:
import math
import collections
import dataclasses
import datetime

import numpy as np
import pandas as pd
import matplotlib.pyplot as pp

In [6]:
nephews = ['Huey', 'Dewey', 'Louie']
cousins = ["Andrew", "Ben", "Charlie"]

In [7]:
nephews

['Huey', 'Dewey', 'Louie']

In [8]:
cousins

['Andrew', 'Ben', 'Charlie']

In [9]:
len(nephews)

3

In [10]:
len(cousins)

3

In [11]:
len([])

0

In [12]:
nephews[0]

'Huey'

In [13]:
nephews[2]

'Louie'

In [14]:
# nephews[3] # out of range

In [15]:
nephews[-1]

'Louie'

In [16]:
nephews[-2]

'Dewey'

In [17]:
for i in range(3):
    nephews[i] = nephews[i] + ' Duck'

In [18]:
nephews

['Huey Duck', 'Dewey Duck', 'Louie Duck']

In [19]:
for k in range(3):
  cousins[k] = cousins[k] + "Cousin"

In [20]:
cousins

['AndrewCousin', 'BenCousin', 'CharlieCousin']

In [21]:
mix_it_up = [1, [2, 3], 'alpha']

In [22]:
mix_it_up

[1, [2, 3], 'alpha']

In [23]:
'Huey' in nephews

False

In [24]:
"Andrew" in cousins

False

In [25]:
'Huey Duck' in nephews

True

In [26]:
"AndrewCousin" in cousins

True

In [27]:
nephews.append('April Duck')

In [28]:
nephews

['Huey Duck', 'Dewey Duck', 'Louie Duck', 'April Duck']

In [29]:
cousins.append("Timothy Cousin")

In [30]:
cousins

['AndrewCousin', 'BenCousin', 'CharlieCousin', 'Timothy Cousin']

In [31]:
nephews.extend(['May Duck', 'June Duck']) 
# Add multiple elements in one go

In [32]:
nephews

['Huey Duck',
 'Dewey Duck',
 'Louie Duck',
 'April Duck',
 'May Duck',
 'June Duck']

In [33]:
cousins.extend(["CatherineCousin", "Sam Cousin"])

In [34]:
cousins

['AndrewCousin',
 'BenCousin',
 'CharlieCousin',
 'Timothy Cousin',
 'CatherineCousin',
 'Sam Cousin']

In [35]:
nephews

['Huey Duck',
 'Dewey Duck',
 'Louie Duck',
 'April Duck',
 'May Duck',
 'June Duck']

Concatenate two list

In [36]:
ducks = nephews + ['Donald Duck', 'Daisy Duck']

Concatenate two list

In [37]:
nephews

['Huey Duck',
 'Dewey Duck',
 'Louie Duck',
 'April Duck',
 'May Duck',
 'June Duck']

In [38]:
ducks

['Huey Duck',
 'Dewey Duck',
 'Louie Duck',
 'April Duck',
 'May Duck',
 'June Duck',
 'Donald Duck',
 'Daisy Duck']

In [39]:
ducks.insert(0, 'Scrooge McDuck')

In [40]:
cousins

['AndrewCousin',
 'BenCousin',
 'CharlieCousin',
 'Timothy Cousin',
 'CatherineCousin',
 'Sam Cousin']

In [41]:
cousins.insert(0, "Tomas Cousin")

In [42]:
cousins

['Tomas Cousin',
 'AndrewCousin',
 'BenCousin',
 'CharlieCousin',
 'Timothy Cousin',
 'CatherineCousin',
 'Sam Cousin']

In [43]:
ducks

['Scrooge McDuck',
 'Huey Duck',
 'Dewey Duck',
 'Louie Duck',
 'April Duck',
 'May Duck',
 'June Duck',
 'Donald Duck',
 'Daisy Duck']

Remove by index

In [44]:
del ducks[0]

In [45]:
ducks

['Huey Duck',
 'Dewey Duck',
 'Louie Duck',
 'April Duck',
 'May Duck',
 'June Duck',
 'Donald Duck',
 'Daisy Duck']

Remove by value

In [46]:
ducks.remove('Donald Duck')

In [47]:
ducks

['Huey Duck',
 'Dewey Duck',
 'Louie Duck',
 'April Duck',
 'May Duck',
 'June Duck',
 'Daisy Duck']

In [48]:
cousins

['Tomas Cousin',
 'AndrewCousin',
 'BenCousin',
 'CharlieCousin',
 'Timothy Cousin',
 'CatherineCousin',
 'Sam Cousin']

In [49]:
del cousins[0]

In [50]:
cousins

['AndrewCousin',
 'BenCousin',
 'CharlieCousin',
 'Timothy Cousin',
 'CatherineCousin',
 'Sam Cousin']

In [ ]:
# cousins.remove("CharlieCousinCousinCousinCousin")

ValueError: list.remove(x): x not in list

In [53]:
cousins

['AndrewCousin',
 'BenCousin',
 'CharlieCousin',
 'Timothy Cousin',
 'CatherineCousin',
 'Sam Cousin']

In [ ]:
ducks

['Huey Duck',
 'Dewey Duck',
 'Louie Duck',
 'April Duck',
 'May Duck',
 'June Duck',
 'Daisy Duck']

In-place sorting (modify the current list)

In [ ]:
ducks.sort()

In [ ]:
ducks

['April Duck',
 'Daisy Duck',
 'Dewey Duck',
 'Huey Duck',
 'June Duck',
 'Louie Duck',
 'May Duck']

In [54]:
cousins

['AndrewCousin',
 'BenCousin',
 'CharlieCousin',
 'Timothy Cousin',
 'CatherineCousin',
 'Sam Cousin']

In [55]:
cousins.sort()

In [56]:
cousins

['AndrewCousin',
 'BenCousin',
 'CatherineCousin',
 'CharlieCousin',
 'Sam Cousin',
 'Timothy Cousin']

Not sort directly on the list but assigned the sorted one to a new list

In [57]:
reverse_cousins = sorted(cousins, reverse=True)

In [58]:
reverse_cousins

['Timothy Cousin',
 'Sam Cousin',
 'CharlieCousin',
 'CatherineCousin',
 'BenCousin',
 'AndrewCousin']

In [59]:
cousins

['AndrewCousin',
 'BenCousin',
 'CatherineCousin',
 'CharlieCousin',
 'Sam Cousin',
 'Timothy Cousin']

In [61]:
reverse_ducks = sorted(ducks, reverse=True)

In [62]:
reverse_ducks

['May Duck',
 'Louie Duck',
 'June Duck',
 'Huey Duck',
 'Dewey Duck',
 'Daisy Duck',
 'April Duck']

In [ ]:
fruits = ["apple", "banana", "cam"]
fruits.sort(reverse=True)
fruits

['cam', 'banana', 'apple']

Similar to "Enhance For Loop" in Java

In [ ]:
for duck in ducks:
    print(duck, "quacks!")

April Duck quacks!
Daisy Duck quacks!
Dewey Duck quacks!
Huey Duck quacks!
June Duck quacks!
Louie Duck quacks!
May Duck quacks!

In [63]:
for cousin in cousins:
  print("Hello", cousin)

Hello AndrewCousin
Hello BenCousin
Hello CatherineCousin
Hello CharlieCousin
Hello Sam Cousin
Hello Timothy Cousin

In [64]:
squares = [1, 4, 9, 16, 25, 36, 49]

In [67]:
cubes = [1, 8, 27, 64, 125]

In [65]:
squares[0:2]

[1, 4]

In [70]:
cubes[0:3]

[1, 8, 27]

In [71]:
squares

[1, 4, 9, 16, 25, 36, 49]

In [72]:
squares[:4]

[1, 4, 9, 16]

In [73]:
squares[3:]

[16, 25, 36, 49]

In [74]:
squares

[1, 4, 9, 16, 25, 36, 49]

In [75]:
squares[:]

[1, 4, 9, 16, 25, 36, 49]

In [76]:
squares[0:7]

[1, 4, 9, 16, 25, 36, 49]

We can edit how many steps we want. In this case, we want two steps.

In [77]:
squares[0:7:2]

[1, 9, 25, 49]

In [81]:
cubes

[1, 8, 27, 64, 125]

In [80]:
cubes[0::2]

[1, 27, 125]

In [78]:
squares

[1, 4, 9, 16, 25, 36, 49]

In [79]:
squares[-3:-1]

[25, 36]

In [82]:
cubes[-4:]

[8, 27, 64, 125]

In [83]:
cubes[-4:-1]

[8, 27, 64]

In [84]:
# reverse the list!
squares[::-1]

[49, 36, 25, 16, 9, 4, 1]

Reassign a sublist of items

In [86]:
squares[2:4] = ['four', 'nine']

In [87]:
squares

[1, 4, 'four', 'nine', 25, 36, 49]

In [88]:
del squares[4:6]

Element at index 4 and 5 got deleted.

In [89]:
squares

[1, 4, 'four', 'nine', 49]

In [90]:
cubes

[1, 8, 27, 64, 125]

In [91]:
del cubes[0:2]

In [92]:
cubes

[27, 64, 125]

This is tuple (immutable version list).

In [93]:
integers = ('one', 'two', 'three', 'four')

In [94]:
integers

('one', 'two', 'three', 'four')

In [95]:
char_tuples = ("a", "b", "c")

In [96]:
char_tuples[-1]

'c'

In [97]:
char_tuples[0]

'a'

In [98]:
char_tuples[2], char_tuples[-2]

('c', 'b')

In [99]:
integers

('one', 'two', 'three', 'four')

Expect four, two, three

In [100]:
integers[-1], integers[1:3]

('four', ('two', 'three'))

In [101]:
integers

('one', 'two', 'three', 'four')

Tuple is immutable. Cannot do item assignment.

In [102]:
integers[0] = 1

TypeError: 'tuple' object does not support item assignment

In [104]:
(a, b) = (1, 2)

In [103]:
(n, c) = (3, 5)

In [105]:
n

3

In [106]:
n, c = 4, 5

In [107]:
c

5

In [108]:
n, c = 5, 5

In [109]:
n

5

In [110]:
temp_tuple = (n, c)

In [111]:
temp_tuple

(5, 5)

In [114]:
c, d = 3, 4

In [113]:
c

5

In [115]:
c = 8

In [116]:
temp_tuple

(5, 5)

In [117]:
(c, a)

(8, 1)

In [118]:
(c, a) = (9, 0)

In [119]:
temp_tuple

(5, 5)

In [120]:
temp_tuple = (n, c)

In [121]:
temp_tuple

(5, 9)

In [122]:
ducks

['Huey Duck',
 'Dewey Duck',
 'Louie Duck',
 'April Duck',
 'May Duck',
 'June Duck',
 'Daisy Duck']

In [123]:
for i, duck in enumerate(ducks):
    print(i, duck)

0 Huey Duck
1 Dewey Duck
2 Louie Duck
3 April Duck
4 May Duck
5 June Duck
6 Daisy Duck

In [124]:
type(ducks)

list

In [125]:
for duck in ducks:
  print(duck)

Huey Duck
Dewey Duck
Louie Duck
April Duck
May Duck
June Duck
Daisy Duck

In [128]:
for i, duck in enumerate(ducks):
  print(i, duck)

0 Huey Duck
1 Dewey Duck
2 Louie Duck
3 April Duck
4 May Duck
5 June Duck
6 Daisy Duck

In [129]:
for duck in enumerate(ducks):
  print(duck)

(0, 'Huey Duck')
(1, 'Dewey Duck')
(2, 'Louie Duck')
(3, 'April Duck')
(4, 'May Duck')
(5, 'June Duck')
(6, 'Daisy Duck')

In [130]:
print(enumerate(ducks))

<enumerate object at 0x78e0f3dd9fd0>

In [132]:
for i, duck in enumerate(ducks):
  print(duck, i)

Huey Duck 0
Dewey Duck 1
Louie Duck 2
April Duck 3
May Duck 4
June Duck 5
Daisy Duck 6

In [133]:
for i in enumerate(ducks):
  print(i)

(0, 'Huey Duck')
(1, 'Dewey Duck')
(2, 'Louie Duck')
(3, 'April Duck')
(4, 'May Duck')
(5, 'June Duck')
(6, 'Daisy Duck')

In [134]:
for i, duck in enumerate(ducks):
  print(i, duck)

0 Huey Duck
1 Dewey Duck
2 Louie Duck
3 April Duck
4 May Duck
5 June Duck
6 Daisy Duck

In [135]:
temp_tuple

(5, 9)

In [138]:
del temp_tuple

In [140]:
temp_tuple = (0, 1, 2, 3, 4)

In [142]:
temp_tuple[0:4]

(0, 1, 2, 3)

In [144]:
a

0

In [145]:
b, c

(2, 9)

In [146]:
(a, b, c)

(0, 2, 9)

In [147]:
def print_three_args(a, b, c):
    print(a, b, c)

In [148]:
print_three_args(11, 12, 13)

11 12 13

In [150]:
type(print_three_args)

function

In [ ]:
my_args = (1,2,3)

In [151]:
chau_args =(3, 6, 9)

In [152]:
type(chau_args)

tuple

In [153]:
print_three_args

Expect: will receive error "missing 2 required positional argument." The whole tuple is currently treated as one argument. Function is still waiting for two more elements.

In [ ]:
# print_three_args(chau_args)

TypeError: print_three_args() missing 2 required positional arguments: 'b' and 'c'

In [155]:
print_three_args(*chau_args)

3 6 9

In [157]:
print_three_args(*my_args)

1 2 3

The arterisk (*) allows the function to accept any number of positional arguments.

In [159]:
def any_args(*args):
    print(args)

In [160]:
any_args(1,2,3)

(1, 2, 3)

In [162]:
def chau_any_args(*args):
  print(args)
  print(type(args))

In [163]:
chau_any_args(100, 200, 300)

(100, 200, 300)
<class 'tuple'>