# 01_04: Comprehensions

In [ ]:
import math
import collections
import dataclasses
import datetime

import numpy as np
import pandas as pd
import matplotlib.pyplot as pp

In [1]:
import math
import collections
import dataclasses
import datetime

import numpy as np
import pandas as pd
import matplotlib.pyplot as pp

In [3]:
squares = []
for i in range(1, 11):
    squares.append(i**2)

In [2]:
cubes = []
for i in range(0, 11):
  cubes.append(i**3)

In [5]:
squares

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [4]:
cubes

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [ ]:
squares = [i**2 for i in range(1, 11)]

In [6]:
quadrup = [i**4 for i in range(0, 11)]

In [7]:
quadrup

[0, 1, 16, 81, 256, 625, 1296, 2401, 4096, 6561, 10000]

Using an IF clause to filter out the elements.

In [9]:
quadrup_by_two = [i**4 for i in range(0, 11) if i**4 % 2 == 0]

In [10]:
quadrup_by_two

[0, 16, 256, 1296, 4096, 10000]

In [8]:
squares

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [12]:
squares_by_four = [i**2 for i in range(1, 11) if i**2 % 4 == 0]

In [13]:
squares_by_four

[4, 16, 36, 64, 100]

In [14]:
squares_dict = {i: i**2 for i in range(1, 11)}

In [15]:
squares_dict

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [16]:
cubes_dict = {i:i**3 for i in range(0, 11) if i**3 % 2 == 0}

In [17]:
cubes_dict

{0: 0, 2: 8, 4: 64, 6: 216, 8: 512, 10: 1000}

In [20]:
quadrup_dict = {j:j**4 for j in range(0, 10)}

In [21]:
quadrup_dict

{0: 0, 1: 1, 2: 16, 3: 81, 4: 256, 5: 625, 6: 1296, 7: 2401, 8: 4096, 9: 6561}

In [26]:
capitals_by_country = {'United States': 'Washington, DC', 
                       'France': 'Paris',
                       'Italy': 'Rome'}

Transpose --> flipping keys and values in dictionary.

In [27]:
print(capitals_by_country)

{'United States': 'Washington, DC', 'France': 'Paris', 'Italy': 'Rome'}

In [28]:
countries_by_capital = {capital: country for country, capital in capitals_by_country.items()}

In [29]:
fruit_by_color = {
  "red":"apple",
  "yellow": "banana",
  "green": "avocado"
}

In [32]:
color_by_fruits={fruit: color for color, fruit in fruit_by_color.items()}

In [33]:
fruit_by_color

{'red': 'apple', 'yellow': 'banana', 'green': 'avocado'}

In [34]:
color_by_fruits

{'apple': 'red', 'banana': 'yellow', 'avocado': 'green'}

Countries indexed by capitals.

In [35]:
countries_by_capital

{'Washington, DC': 'United States', 'Paris': 'France', 'Rome': 'Italy'}

Capital indexed by countries

In [36]:
capitals_by_country

{'United States': 'Washington, DC', 'France': 'Paris', 'Italy': 'Rome'}

Comprehensions are useful when we manipulate lists, dictionaries, and sets of data.

In [37]:
print(sum(i**2 for i in range(1, 11)))

385

Nested for loop

Make a list of list

In [38]:
matrix = [[i*j for i in range(1,4)] for j in range(1,4)]

In [39]:
matrix

[[1, 2, 3], [2, 4, 6], [3, 6, 9]]

In [40]:
chau_matrix = [i * 2 for i in range(0, 3)]

In [41]:
chau_matrix

[0, 2, 4]

In [42]:
chau_matrix_2 = [[i * j for i in range (0, 3)] for j in range (0, 3)]

In [43]:
chau_matrix_2

[[0, 0, 0], [0, 1, 2], [0, 2, 4]]

In [44]:
[element for row in matrix for element in row]

[1, 2, 3, 2, 4, 6, 3, 6, 9]

In [45]:
[row for row in chau_matrix_2]

[[0, 0, 0], [0, 1, 2], [0, 2, 4]]

In [47]:
chau_matrix_2[0]

[0, 0, 0]

In [49]:
matrix

[[1, 2, 3], [2, 4, 6], [3, 6, 9]]

In [48]:
[element for row in matrix for element in row]

[1, 2, 3, 2, 4, 6, 3, 6, 9]

In [51]:
chau_matrix_2

[[0, 0, 0], [0, 1, 2], [0, 2, 4]]

Go from inside out. Identify ROW in MATRIX first. Then go to each element in ROW.

In [53]:
[element for row in chau_matrix_2 for element in row]

[0, 0, 0, 0, 1, 2, 0, 2, 4]