# 01_03: Dictionaries and sets

In [1]:
import math
import collections
import dataclasses
import datetime

import numpy as np
import pandas as pd
import matplotlib.pyplot as pp

In [2]:
import math
import collections
import dataclasses
import datetime
import numpy as np
import pandas as pd
import matplotlib.pyplot as pp

In [3]:
capitals = {'United States': 'Washington, DC', 'France': 'Paris', 'Italy': 'Rome'}

In [4]:
fruits = {
  "red": "apple",
  "orange": "papaya",
  "yellow": "banana",
  "blue": "berries", 
  "green": "avocado", 
  "purple": "eggplant"
}

In [5]:
type(fruits)

dict

In [6]:
capitals

{'United States': 'Washington, DC', 'France': 'Paris', 'Italy': 'Rome'}

In [7]:
fruits

{'red': 'apple',
 'orange': 'papaya',
 'yellow': 'banana',
 'blue': 'berries',
 'green': 'avocado',
 'purple': 'eggplant'}

In [8]:
capitals

{'United States': 'Washington, DC', 'France': 'Paris', 'Italy': 'Rome'}

In [9]:
len(fruits)

6

In [10]:
len(capitals), len({})

(3, 0)

In [11]:
temp_tuple = (len(fruits), len(capitals))

In [12]:
temp_tuple

(6, 3)

In [13]:
capitals

{'United States': 'Washington, DC', 'France': 'Paris', 'Italy': 'Rome'}

In [14]:
capitals['Italy']

'Rome'

In [15]:
fruits["red"]

'apple'

In [16]:
capitals

{'United States': 'Washington, DC', 'France': 'Paris', 'Italy': 'Rome'}

Add in more key-value pairs

In [17]:
capitals['Spain'] = 'Madrid'

In [18]:
capitals

{'United States': 'Washington, DC',
 'France': 'Paris',
 'Italy': 'Rome',
 'Spain': 'Madrid'}

Will receive key error in the below case because there is no key "Germany" in the dictionary.

In [19]:
# capitals['Germany']

Check to see if the keys are in dictionary

In [20]:
'Germany' in capitals, 'Italy' in capitals

(False, True)

In [21]:
"pink" in fruits, "red" in fruits

(False, True)

In [22]:
morecapitals = {'Germany': 'Berlin', 'United Kingdom': 'London'}

In [23]:
morecapitals

{'Germany': 'Berlin', 'United Kingdom': 'London'}

In [24]:
morefruits = {
  "pink": "dragonfruit",
  "white": "lychee"
  }

Combine two dictionaries into one dictionary.

In [25]:
{**capitals, **morecapitals}

{'United States': 'Washington, DC',
 'France': 'Paris',
 'Italy': 'Rome',
 'Spain': 'Madrid',
 'Germany': 'Berlin',
 'United Kingdom': 'London'}

In [26]:
{**fruits, **morefruits}

{'red': 'apple',
 'orange': 'papaya',
 'yellow': 'banana',
 'blue': 'berries',
 'green': 'avocado',
 'purple': 'eggplant',
 'pink': 'dragonfruit',
 'white': 'lychee'}

In [27]:
newdict1 = {**capitals, **morecapitals}

In [28]:
newdict1

{'United States': 'Washington, DC',
 'France': 'Paris',
 'Italy': 'Rome',
 'Spain': 'Madrid',
 'Germany': 'Berlin',
 'United Kingdom': 'London'}

In [29]:
capitals

{'United States': 'Washington, DC',
 'France': 'Paris',
 'Italy': 'Rome',
 'Spain': 'Madrid'}

In [30]:
morecapitals

{'Germany': 'Berlin', 'United Kingdom': 'London'}

In [31]:
capitals.update(morecapitals)

In [32]:
capitals

{'United States': 'Washington, DC',
 'France': 'Paris',
 'Italy': 'Rome',
 'Spain': 'Madrid',
 'Germany': 'Berlin',
 'United Kingdom': 'London'}

In [33]:
morecapitals

{'Germany': 'Berlin', 'United Kingdom': 'London'}

In [34]:
morecapitals.update(capitals)

In [35]:
morecapitals

{'Germany': 'Berlin',
 'United Kingdom': 'London',
 'United States': 'Washington, DC',
 'France': 'Paris',
 'Italy': 'Rome',
 'Spain': 'Madrid'}

In [36]:
fruits

{'red': 'apple',
 'orange': 'papaya',
 'yellow': 'banana',
 'blue': 'berries',
 'green': 'avocado',
 'purple': 'eggplant'}

In [37]:
morefruits

{'pink': 'dragonfruit', 'white': 'lychee'}

In [38]:
newdict2 = {**fruits, **morefruits}

In [39]:
newdict2

{'red': 'apple',
 'orange': 'papaya',
 'yellow': 'banana',
 'blue': 'berries',
 'green': 'avocado',
 'purple': 'eggplant',
 'pink': 'dragonfruit',
 'white': 'lychee'}

In [40]:
fruits

{'red': 'apple',
 'orange': 'papaya',
 'yellow': 'banana',
 'blue': 'berries',
 'green': 'avocado',
 'purple': 'eggplant'}

In [41]:
fruits.update(morefruits)

In [42]:
fruits

{'red': 'apple',
 'orange': 'papaya',
 'yellow': 'banana',
 'blue': 'berries',
 'green': 'avocado',
 'purple': 'eggplant',
 'pink': 'dragonfruit',
 'white': 'lychee'}

In [43]:
capitals

{'United States': 'Washington, DC',
 'France': 'Paris',
 'Italy': 'Rome',
 'Spain': 'Madrid',
 'Germany': 'Berlin',
 'United Kingdom': 'London'}

In [44]:
del capitals["France"]

In [45]:
capitals

{'United States': 'Washington, DC',
 'Italy': 'Rome',
 'Spain': 'Madrid',
 'Germany': 'Berlin',
 'United Kingdom': 'London'}

In [83]:
del capitals["Italy"]

In [46]:
fruits

{'red': 'apple',
 'orange': 'papaya',
 'yellow': 'banana',
 'blue': 'berries',
 'green': 'avocado',
 'purple': 'eggplant',
 'pink': 'dragonfruit',
 'white': 'lychee'}

In [47]:
del fruits["pink"]

In [48]:
fruits

{'red': 'apple',
 'orange': 'papaya',
 'yellow': 'banana',
 'blue': 'berries',
 'green': 'avocado',
 'purple': 'eggplant',
 'white': 'lychee'}

In [84]:
capitals

{'United States': 'Washington, DC', 'Spain': 'Madrid'}

In [50]:
del capitals['United Kingdom']

In [51]:
capitals

{'United States': 'Washington, DC',
 'Italy': 'Rome',
 'Spain': 'Madrid',
 'Germany': 'Berlin'}

In [52]:
"Germany" in capitals

True

In [53]:
("Germany" in capitals, "germaney" in capitals)

(True, False)

In [54]:
del capitals["Germany"]

In [55]:
capitals

{'United States': 'Washington, DC', 'Italy': 'Rome', 'Spain': 'Madrid'}

In [56]:
birthdays = {
  (7,15): 'Michele',
  (3,14): 'Albert',
  (7, 30): "Tommy",
  (5, 14): "Chau"}

In [57]:
birthdays

{(7, 15): 'Michele', (3, 14): 'Albert', (7, 30): 'Tommy', (5, 14): 'Chau'}

In [58]:
birthdays[(7,15)]

'Michele'

In [59]:
birthdays[(5, 14)]

'Chau'

In [60]:
fruits

{'red': 'apple',
 'orange': 'papaya',
 'yellow': 'banana',
 'blue': 'berries',
 'green': 'avocado',
 'purple': 'eggplant',
 'white': 'lychee'}

Hashable things must never changed. 
A hash is just a number that uniquely represents an object.

In [61]:
print(hash("blue"))

-3902901713053313514

In [62]:
hash("blue")

-3902901713053313514

In [63]:
hash("white"), hash((5,14))

(1502803235791662998, 6453000607958316648)

In [64]:
hash('Italy'), hash((7,15))

(5183177604346075085, -2471369287409462312)

In [85]:
fruits

{'red': 'apple',
 'orange': 'papaya',
 'yellow': 'banana',
 'blue': 'berries',
 'green': 'avocado',
 'purple': 'eggplant',
 'white': 'lychee'}

In [86]:
for color in fruits:
  print(color)

red
orange
yellow
blue
green
purple
white

In [88]:
for colors in fruits.keys():
  print(colors)

red
orange
yellow
blue
green
purple
white

In [90]:
for value in fruits.values():
  print(value)

apple
papaya
banana
berries
avocado
eggplant
lychee

In [92]:
for color, fruit in fruits.items():
  print(color, fruit)

red apple
orange papaya
yellow banana
blue berries
green avocado
purple eggplant
white lychee

In [65]:
for country in capitals:
    print(country)

United States
Italy
Spain

In [66]:
for country in capitals.keys():
    print(country)

United States
Italy
Spain

In [67]:
capitals.keys()

dict_keys(['United States', 'Italy', 'Spain'])

In [93]:
type(capitals.keys())

dict_keys

In [94]:
type(capitals.values())

dict_values

In [105]:
capitals.values()

dict_values(['Washington, DC', 'Madrid'])

In [106]:
capitals.items()

dict_items([('United States', 'Washington, DC'), ('Spain', 'Madrid')])

In [95]:
type(capitals.items())

dict_items

In [97]:
print(capitals.items())

dict_items([('United States', 'Washington, DC'), ('Spain', 'Madrid')])

In [98]:
list(capitals.items())

[('United States', 'Washington, DC'), ('Spain', 'Madrid')]

In [104]:
type(capitals.items())

dict_items

In [68]:
list(capitals.keys())

['United States', 'Italy', 'Spain']

In [69]:
for capital in capitals.values():
    print(capital)

Washington, DC
Rome
Madrid

In [70]:
for country, capital in capitals.items():
    print(country, capital)

United States Washington, DC
Italy Rome
Spain Madrid

In [71]:
capitals.keys()

dict_keys(['United States', 'Italy', 'Spain'])

Can turn it into list (iterable)

In [72]:
list(capitals.keys())

['United States', 'Italy', 'Spain']

Set up default return instead of error return when a key is not found.

In [73]:
capitals_default = collections.defaultdict(lambda: "I don't know!")

In [108]:
fruits_default = collections.defaultdict(lambda: "Hello Chau, I dunno.")

In [109]:
capitals_default.update(capitals)

In [110]:
capitals

{'United States': 'Washington, DC', 'Spain': 'Madrid'}

In [112]:
fruits_default.update(fruits)

In [113]:
fruits

{'red': 'apple',
 'orange': 'papaya',
 'yellow': 'banana',
 'blue': 'berries',
 'green': 'avocado',
 'purple': 'eggplant',
 'white': 'lychee'}

In [115]:
fruits_default

defaultdict(<function __main__.<lambda>()>,
            {'red': 'apple',
             'orange': 'papaya',
             'yellow': 'banana',
             'blue': 'berries',
             'green': 'avocado',
             'purple': 'eggplant',
             'white': 'lychee'})

In [117]:
fruits_default["black"]

'Hello Chau, I dunno.'

In [111]:
capitals_default['Canada']

"I don't know!"

This is a set.

In [76]:
continents = {'America', 'Europe', 'Asia', 'Oceania', 'Africa', 'Africa'}

List --> unhashable (list is mutable/ able to edit. --> cannot be hashed), so list cannot be in the set.

In [127]:
# test_set = {[1, 2], [3, 4]}

In [118]:
names = {"Shannen", "Phuong", "Anna", "Maria", "Maria", "Chau"}

Set --> no duplicate. When return, it will return with alphabetical order.

In [124]:
names

{'Anna', 'Chau', 'Maria', 'Phuong', 'Shannen'}

In [128]:
("Chau" in names, "Minh" in names)

(True, False)

In [119]:
continents

{'Africa', 'America', 'Asia', 'Europe', 'Oceania'}

In [120]:
'Africa' in continents

True

In [129]:
print(names.add("Danny"))

None

In [130]:
names

{'Anna', 'Chau', 'Danny', 'Maria', 'Phuong', 'Shannen'}

In [121]:
continents.add('Antarctica')

In [122]:
continents.remove('Antarctica')

In [123]:
for c in continents:
    print(c)

Asia
America
Europe
Oceania
Africa

In [131]:
for i, c in enumerate(continents):
  print(i, c)

0 Asia
1 America
2 Europe
3 Oceania
4 Africa

In [132]:
for c in enumerate(continents):
  print(c)

(0, 'Asia')
(1, 'America')
(2, 'Europe')
(3, 'Oceania')
(4, 'Africa')